/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white-background: #fff;
    --text-color: #000000;
}

* > section {
    padding: 6px 0;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

body {
    color: var(--text-color);
    background-color: var(--white-background);
    line-height: 1.6;
    max-width: 1500px;
}

.header h1 {
    display: grid;  
    grid-template-columns: 1fr 0.1fr;   
}

.header a {
    color: #000000;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 30px;
    font-weight: 500;      
}

p {
    font-size: 1.1rem;
}

/* Photo Grid */
.photoGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
}

.leftGrid, .rightGrid {
    height: auto;
    min-width: 50%;
}

.leftGrid img {
    min-height: 520px;
}

/* About */
.about {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 20%;
    text-align: center;
}

.about h2 {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

.about .about-desc img {
    width: 60%;
    height: auto;
    margin: 10px 0;  
}

/* Input fields */
label {
    display: block;
    font-weight: 500;
    font-size: 1.4rem;
}

input[type=text], input[type=email], input[type=textarea] {
    padding: 2px 8px;
    border: 2px solid #ccc;
    width: 100%;
    margin-bottom: 16px;
    height: 40px;
    font-size: 1rem;
}

input[type=text]:focus, input[type=email]:focus, input[type=textarea]:focus {
    caret-color: teal;
    caret-shape: block;
    outline: 2px solid orange;
}

#sendBtn {
    width: 100%;
    border: none;
    color: #ddd;
    background-color: #222;
    padding: 16px;
    font-size: 20px;
}

/* Coloured text */
.coloured {
    color: red;
    text-align: center;
}

.footer {
    text-align: center;
    margin-bottom: 20px;
}

.footer img {
    width: 60px;
    height: auto;
}

/* Responsiveness for tablet size with a max-width of 760px */
@media screen and (max-width: 760px) {
    /* Header */
    .header a {
        font-size: 1.4rem;
        padding: 12px 30px;      
    }
    
    /* Photo Grids */
    .photoGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }

    .leftGrid img {
        min-height: auto;
    }

    /* About */
    .about {
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 0;
        text-align: center;
    }

    .about h2 {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .about .about-desc {
        display: flex;
        flex-direction: row;
        margin: 12px 0;
    }

    .about .about-desc #art-boy, .about .about-desc .about-p {
        width: 50%;
    }

    .about .about-desc img {
        margin: 0;
        width: 60%;
        max-height: auto;
    }

    .about .about-desc p {
        font-size: 1rem;
        text-align: center;
    }

    /* Input fields */
    label {
        display: inline-block;
        font-weight: 500;
        font-size: 1.2rem;
    }

    input[type=text], input[type=email], input[type=textarea] {
        padding: 2px 8px;
        max-width: 70%;
        font-size: 1rem;
    }

    input[type=text]:focus, input[type=email]:focus, input[type=textarea]:focus {
        caret-color: teal;
        caret-shape: block;
        outline: 1px solid blue;
    }

    #sendBtn {
        width: 80%;
        background-color: #222;
        padding: 0.9rem;
        font-size: 1.2rem;
    }

    /* Footer */
    .footer {
        text-align: center;
        margin-bottom: 40px;
        font-size: 0.9rem;
    }

    .footer img {
        width: 50px;
        height: auto;
    }
}

/* Responsiveness for mobile size with a max-width of 460px */
@media screen and (max-width: 460px) {
    /* Header */
    .header a {
        font-size: 1.2rem;
        padding: 10px 10px;      
    }
    
    /* About */
    .about .about-desc {
        display: grid;
        grid-template-rows: 1fr;
        
    }

    .about .about-desc #art-boy, .about .about-desc .about-p {
        width: 100%;
    }

    .about .about-desc img {
        margin: 0;
        width: 100%;
    }

    .about .about-desc .about-p .p {
        font-size: 1rem;
        text-align: left;
        padding: 0 4px;
    }

    p .coloured {
        text-align: center;
    }

    /* Footer */
    .footer img {
        width: 30px;
        height: auto;
    }
}